* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: aliceblue;
  color: #333;
}

header {
  background: #003366;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffcc00;
}

.carousel {
  margin: 30px auto;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 40px;
  margin: 0 10px;
  border-radius: 8px;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-buttons button {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.livros {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.livros .card {
  flex: 0 0 200px;
  scroll-snap-align: start;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  padding: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
  font-size: 1rem;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}

/*Acervo*/ 
.busca {
  max-width: 800px;
  margin: 30px auto;
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.busca input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.busca button {
  padding: 10px 20px;
  border: none;
  background: #003366;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.busca button:hover {
  background: #0055aa;
}


.acervo {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
footer {
  background-color: darkblue; 
  color: #ecf0f1; 
  text-align: center; 
  padding: 20px 10px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2); 
  margin-top: 40px;
}

footer p {
  margin: 0;
}

footer p::before {
  content: "📚 "; /* emoji de livro antes do texto */
}

