<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Livro</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <img src="{% static './imagem/logo-ugb (1).png' %}" alt="Logo UGB" class="logo">
    <nav>
      <ul>
        <li><a href="{% static 'index.html' %}">Início</a></li>
        <li><a href="{% static 'acervo.html' %}">Acervo</a></li>
        <li><a href="http://127.0.0.1:8000/login/">Login</a></li>
      </ul>
    </nav>
  </header>

  <main id="detalhesLivro" class="detalhes-container">
  </main>

  <script src="{% static 'avaliacao.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
